  <mat-dialog-content [formGroup]="recipeForm">
  <div class="sticky-header">
    <div class="mat-title" mat-dialog-title>{{data.dialogTitle}}</div>
    <mat-form-field class="form-input">
      <input matInput
      placeholder="Recipe Name"
      formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="form-input">
      <textarea matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      placeholder="Decription"
      formControlName="description">
    </textarea>
  </mat-form-field>

  <div *ngIf="isDataAvailable">
    <p-pickList [source]="masterIngredientList" [target]="editableIngredientList" sourceHeader="Available" targetHeader="In Recipe" [responsive]="true" filterBy="name" 
    dragdrop="true" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}">
      <ng-template let-ingredient pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:10px;float:right;margin:15px 5px 0 0">{{ingredient.name}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
