<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
      <mat-dialog-content [formGroup]="credentialsForm">
        <div class="form-container">
          <mat-form-field>
            <input matInput
              placeholder="First Name"
              formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <input matInput
              placeholder="Last Name"
              formControlName="lastName">
          </mat-form-field>
            <mat-form-field>
          <input matInput
            placeholder="Email"
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            placeholder="Username"
            formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            type="password"
            placeholder="Password"
            formControlName="password">
        </mat-form-field>
        </div>
      </mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="signup()" cdkFocusInitial>Sign Up</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>
