<div class="mat-headline">Menus</div>
<button mat-raised-button class="new-button" (click)="newDay()">New</button>
<div fxLayout="row" fxLayoutAlign="space-between start " class="dayPage">
  <!-- List -->
  <div fxFlex="0 1 50%" class="left-col">
    <p-dataView #dv [value]="dayList">
      <p-header>Days</p-header>
      <ng-template let-day pTemplate="listItem">
        <div class="ui-g-12">
            <div>
              <p-card header="{{day.date | date:'EEEE'}}" subheader="{{day.date | date:'shortDate'}}" (click)="onCardClick(day._id)">
                <p-header *ngIf="selectedDay._id === day._id">
                  <div class="selected">SELECTED</div>
                </p-header>
              </p-card>
            </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>


  <!-- Details Area -->
  <div fxFlex="0 1 50%" class="right-col sticky">
    <div *ngIf="!showDetails">
      <p-card header="Click a day to see details"></p-card>
    </div>

    <div id="details" *ngIf="showDetails">
      <div>
        <p-card header="{{selectedDay.date | date:'EEEE'}}" subheader="{{selectedDay.date | date:'shortDate'}}" styleClass="">
          <p-dataView #dvmeal [value]="selectedDay.mealSlots">
            <p-header>Meals</p-header>
            <ng-template let-meal pTemplate="listItem">
              <div class="ui-g-12">
                <div>
                  <p-card>
                    <p-header>
                      <span class="meal-name">{{meal.name}}</span>
                      <div fxFlex></div>
                      <mat-icon (click)="editMeal(meal)" class="edit-meal-button">edit</mat-icon>
                      <mat-icon (click)="deleteMeal(meal)" class="delete-meal-button">delete</mat-icon>
                    </p-header>
                    <mat-list>
                      <mat-list-item class="items" *ngFor="let item of meal.recipes">
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon> {{ item.name }}
                      </mat-list-item>
                    </mat-list>
                    <p-footer>
                      <button mat-button (click)="handleButtonClick('close')">CLOSE</button>
                      <button mat-button (click)="handleButtonClick('edit')">EDIT</button>
                      <button mat-button (click)="handleButtonClick('delete')">DELETE</button>
                    </p-footer>
                  </p-card>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </p-card>
      </div>
    </div>
  </div>
</div>
