@import '../../appThemeVariables.scss';

.day-page {
    padding-top: 80px;
}

.left-col {
    margin: 20px 10px 20px 0;
}

.right-col {
    margin: 20px 0 20px 10px;
}

.container {
    margin-top: 10px;
}

.card {
    margin-bottom: 10px;
    cursor: pointer;
}

.details-card-header {
    color: $primary;
}

.title {
    color: black;
}

.mat-button {
    font-weight: bold;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.label {
    font-size: 100%;
    font-weight: bold;
    color: darkgreen;
}

.data {
    font-size: 100%;
}

.item {
  font-size: medium;
}

.meal-card {
  margin-bottom: 10px;
}

.mat-list-item.mat-list-item-avatar.mat-list-item-with-avatar {
  height: 36px;
}

table {
    width: 100%;
  }

  .tables {
      margin: 15px 0 0 0;
  }

  .inStock {
      height: auto;
      width: 25px;
  }

  .new-button {
      margin: 5px;
      background-color: $primary;
      color: $primary-contrast;
  }

  .table-button {
    //background-color: $primary;
    color: $primary;
  }

  .button-cell {
      text-align: right;
  }

  .mat-cell:last-of-type {
      padding-right: 5px;
  }

  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }


.mat-headline {
  margin-top: 15px;
}

.mat-card-header {
  width: 100%;
}

.meal-card-title {
  color: $primary-dark;
}

.edit-meal-button {
  color: $accent;
  cursor: pointer;
}

.delete-meal-button {
  color: $warn;
  cursor: pointer;
}
