<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<mat-dialog-content [formGroup]="mealForm">
  <mat-form-field>
    <input matInput 
      placeholder="Order"
      formControlName="order">
  </mat-form-field>
  <mat-form-field>
    <input matInput 
      placeholder="Name"
      formControlName="name">
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>