<mat-dialog-content [formGroup]="dayForm">
  <div class="sticky-header">
    <div class="mat-title" mat-dialog-title>{{data.dialogTitle}}</div>
    <mat-form-field class="form-input">
      <input matInput
      placeholder="Date"
      formControlName="date">
    </mat-form-field>
    <br>

  <div *ngIf="isDataAvailable">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="0 1 50%" class="left-col">
          <div class="mat-title">Meals for {{ data.date |  date:'EEEE'}}, {{ data.date |  date:'shortDate'}}</div>
        </div>
        <div fxFlex="0 1 50%" class="right-col">
          <div class="mat-title">Meals Available</div>
        </div>
    </div>
  </div>
</div>

  <div *ngIf="isDataAvailable" class="drag">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="0 1 50%" class="left-col meal-container sticky">
        <div
          cdkDropList
          id="dayMealList"
          #dayMealList="cdkDropList"
          [cdkDropListData]="editableMealList"
          [cdkDropListConnectedTo]="[mealList]"
          class="meal-list"
          (cdkDropListDropped)="dayListDrop($event)">
            <mat-card class="meal-box" *ngFor="let item of editableMealList" cdkDrag>{{item.name}}</mat-card>
        </div>
      </div>

      <div fxFlex="0 1 50%" class="right-col meal-container">
        <div
          cdkDropList
          id="masterMealList"
          #mealList="cdkDropList"
          [cdkDropListData]="masterMealList"
          [cdkDropListConnectedTo]="[dayMealList]"
          class="meal-list"
          (cdkDropListDropped)="masterListDrop($event)">
            <mat-card class="meal-box" *ngFor="let item of masterMealList" cdkDrag>{{item.name}}</mat-card>
        </div>
    </div>
  </div>
</div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="save()" cdkFocusInitial>Save</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>