<mat-toolbar class="mat-elevation-z5 toolbar">
  <span>Grocery Getter</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>
      <a mat-button routerLink="/" routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-button routerLink="/day"  routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Menus</a>
      <a mat-button routerLink="/recipe"  routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Dishes</a>
      <a mat-button routerLink="/shopping"  routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Shopping Lists</a>
      <a mat-button [matMenuTriggerFor]="settingsMenu">Settings</a>
      <mat-menu #settingsMenu="matMenu">
        <a mat-button routerLink="/meal"  routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Meals</a><br>
        <a mat-button routerLink="/ingredient"  routerLinkActive="selected mat-raised-button" [routerLinkActiveOptions]="{exact: true}">Grocery Items</a>
      </mat-menu>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="toolbar">
  <div class="footer">A HobbsSquad Joint - Copyright &copy; 2020, Jon M Hobbs</div>
</mat-toolbar>
