<div class="mat-headline">Meals</div>
<button mat-raised-button class="new-button" (click)="newMeal()">New</button>
<div fxLayout="row" fxLayoutAlign="space-between start " class="mealPage">
  <!-- List -->
  <div fxFlex="0 1 50%" class="left-col">
    <p-dataView #dv [value]="mealList" filterBy="name">
      <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Filter by name" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
            </div>
        </div>
      </p-header>
      <ng-template let-meal pTemplate="listItem">
        <div class="ui-g-12">
            <div>
              <p-card header={{meal.name}} subheader={{meal.order}} (click)="onCardClick(meal._id)">
                <p-header *ngIf="selectedMeal._id === meal._id">
                  <div class="selected">SELECTED</div>
                </p-header>
              </p-card>            
            </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <!-- Details Area -->
  <div fxFlex="0 1 50%" class="right-col sticky">
    <div *ngIf="!showDetails">
      <p-card header="Click a meal to see details"></p-card>
    </div>

    <div id="details" *ngIf="showDetails">
      <div>
        <p-card header={{selectedMeal.name}} styleClass="">
          <p style="font-size: 16px;">
            Order: {{selectedMeal.order}}
          </p>
          <br>
          <p-footer>
            <button mat-button (click)="handleButtonClick('close')">CLOSE</button>
            <button mat-button (click)="handleButtonClick('edit')">EDIT</button>
            <button mat-button (click)="handleButtonClick('delete')">DELETE</button>
          </p-footer>
        </p-card>
      </div>
    </div>
  </div>
</div>
