<div class="home-page">
<div class="mat-display-3 home">Home</div>
<div>
  <img class="logo" src="../../assets/Menu Master-logo.png">
</div>
<div *ngIf="user && authenticated">
  <div [ngClass]="'navbar'">
    <a mat-raised-button class="new-button" (click)="signOut()">Sign Out</a>
  </div>
</div>
<div *ngIf="!user || !authenticated">
  <div [ngClass]="'navbar'">
    <a mat-raised-button class="new-button" (click)="login()">Sign In</a>
    <a mat-raised-button class="new-button" (click)="signUp()">Sign Up</a>
  </div>
</div>
</div>
